@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Table";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
    var listProduct = ViewBag.listProduct;
    var listOrder = ViewBag.ListOrder;
    var listUser = ViewBag.ListUser;

}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="title-5 m-b-35">Reciept</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <form method="post" asp-area="Admin" asp-controller="Table" asp-action="FilterOrder">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="orderFilter">
                                        <option selected="selected" value="0">All Properties</option>
                                        <option value=1>This month</option>
                                        <option value=3>3 months ago</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button type="submit" class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive table--no-card m-b-30">
                        <div style="height:600px;overflow-y:scroll; overflow-x:scroll">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Order date</th>
                                        <th>Send date</th>
                                        <th>Place</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Cost</th>
                                        <th>State</th>
                                        <th></th>
                                        @*<th class="text-right">price</th>
                                            <th class="text-right">quantity</th>
                                            <th class="text-right">total</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in listOrder)
                                    {
                                        <tr>
                                            <td>@order.khachhangid</td>
                                            <td>@order.ngaygiaodich</td>
                                            <td>@order.ngaygiaohang</td>
                                            <td>@order.diachigiaohang</td>
                                            <td>@order.sdtlienlac</td>
                                            <td>@order.emailLienLac</td>
                                            <td>@order.giatridon</td>
                                            <td>@order.trangthai</td>
                                            <td>
                                                @{
                                                    var routeData = new Dictionary<string, string>();
                                                    routeData["id"] = order.id + "";


                                                }

                                                <a class="item" data-toggle="tooltip" data-placement="top" title="EditOrder" asp-area="Admin" asp-controller="Table" asp-action="DisplayEditOrder" asp-all-route-data="@routeData">

                                                    <i class="zmdi zmdi-edit"></i>

                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!-- USER DATA-->
                    <div class="user-data m-b-30">
                        <h3 class="title-3 m-b-30">
                            <i class="zmdi zmdi-account-calendar"></i>user data
                        </h3>
                        <div class="filters m-b-45">
                            <form method="post" asp-area="Admin" asp-controller="Table" asp-action="FilterUser">
                                <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                    <select class="js-select2" name="userFilter">
                                        <option selected="selected" value=0>User Type</option>
                                        <option value=1>Admin</option>
                                        <option value=2>Normal User</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button type="submit" class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters
                                </button>
                            </form>

                        </div>
                        <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            User
                                        </td>
                                        <td>name</td>
                                        <td>role</td>

                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in listUser)
                                    {
                                        <tr>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>@user.taikhoan</h6>
                                                    <span>
                                                        <a href="#">@user.email</a>
                                                    </span>
                                                </div>
                                            </td>
                                            @if (@user.roleTableid == 1)
                                            {
                                                <td>
                                                    <span class="role admin">admin</span>
                                                </td>
                                            }
                                            @if (@user.roleTableid == 2)
                                            {
                                                <td>
                                                    <span class="role user">user</span>
                                                </td>
                                            }
                                            @{
                                                var routeData = new Dictionary<string, string>();
                                                routeData["id"] = user.id + "";
                                            }
                                            @if (@user.roleTableid == 1)
                                            {
                                                <form method="post" asp-controller="Table" asp-action="ChangeRole" asp-all-route-data="@routeData">
                                                    <td>

                                                        <div class="rs-select2--trans rs-select2--sm">
                                                            <select class="form-control-sm form-control" name="roleid">
                                                                <option value=@user.roleTableid>Full Control</option>
                                                                <option value=1>Full Control</option>
                                                                <option value=2>Watch</option>
                                                            </select>
                                                        </div>
                                                    </td><td>
                                                        <input class="btn btn-success" type="submit" value="OK" />

                                                    </td>
                                                </form>
                                            }
                                            @if (@user.roleTableid == 2)
                                            {
                                                <form method="post" asp-controller="Table" asp-action="ChangeRole" asp-all-route-data="@routeData">
                                                    <td>

                                                        <div class="rs-select2--trans rs-select2--sm">
                                                            <select class="form-control-sm form-control" name="roleid">
                                                                <option value=@user.roleTableid>Watch</option>
                                                                <option value=1>Full Control</option>
                                                                <option value=2>Watch</option>
                                                            </select>
                                                        </div>
                                                    </td><td>
                                                        <input class="btn btn-success" type="submit" value="OK" />

                                                    </td>
                                                </form>
                                            }

                                            @*<td>
                                                    <span class="more">
                                                        <a name="ChangeRole" asp-area="Admin" asp-controller="Table" asp-action="ChangeRole" asp-all-route-data="@routeData">
                                                            <i type="button" class="btn btn-success">OK</i>
                                                        </a>
                                                    </span>
                                                </td>*@

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!-- END USER DATA-->
                </div>
                <div class="col-lg-6">
                    <!-- TOP CAMPAIGN-->
                    <div class="top-campaign">
                        <h3 class="title-3 m-b-30">top campaigns</h3>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    <tr>
                                        <td>1. Australia</td>
                                        <td>$70,261.65</td>
                                    </tr>
                                    <tr>
                                        <td>2. United Kingdom</td>
                                        <td>$46,399.22</td>
                                    </tr>
                                    <tr>
                                        <td>3. Turkey</td>
                                        <td>$35,364.90</td>
                                    </tr>
                                    <tr>
                                        <td>4. Germany</td>
                                        <td>$20,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>5. France</td>
                                        <td>$10,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>3. Turkey</td>
                                        <td>$35,364.90</td>
                                    </tr>
                                    <tr>
                                        <td>4. Germany</td>
                                        <td>$20,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>5. France</td>
                                        <td>$10,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>3. Turkey</td>
                                        <td>$35,364.90</td>
                                    </tr>
                                    <tr>
                                        <td>4. Germany</td>
                                        <td>$20,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>5. France</td>
                                        <td>$10,366.96</td>
                                    </tr>
                                    <tr>
                                        <td>4. Germany</td>
                                        <td>$20,366.96</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  END TOP CAMPAIGN-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Product table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <form method="post" asp-area="Admin" asp-controller="Home" asp-action="FilterProduct">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="productFilter">
                                        <option selected="selected">All Properties</option>
                                        <option value="Phone">Smartphone</option>
                                        <option value="Tablet">Tablet</option>
                                        <option value="Headphone">Headphone</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters
                                </button>
                            </form>
                        </div>
                        <div class="table-data__tool-right">
                            <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-area="Admin" asp-controller="Home" asp-action="AddItem">
                                <i class="zmdi zmdi-plus"></i>add item
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive m-b-40">
                        <div style="height:600px;overflow-y:scroll; overflow-x:scroll">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>id</th>
                                        <th>Product Name</th>
                                        <th>Color</th>
                                        <th>Price</th>
                                        <th>Quatity</th>
                                        <th>Avail</th>
                                        <th></th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listProduct)
                                    {
                                        <tr class="tr-shadow">
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>@item.id</td>
                                            <td>@item.tensanpham</td>
                                            <td>
                                                <span class="desc">@item.mausac</span>
                                            </td>
                                            <td>@item.gia</td>

                                            <td>@item.soluong </td>
                                            <td>
                                                <span class="status--process">@item.cosan</span>
                                            </td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <!-- Lay id san pham gui ve controller-->
                                                    @{
                                                        var routeData = new Dictionary<string, string>();
                                                        routeData["id"] = item.id + "";


                                                    }

                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Edit" asp-area="Admin" asp-controller="Table" asp-action="DisplayEditItem" asp-all-route-data="@routeData">

                                                        <i class="zmdi zmdi-edit"></i>

                                                    </a>

                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Delete" asp-area="Admin" asp-controller="Table" asp-action="DeleteItem" asp-all-route-data="@routeData">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </a>

                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            2020 Creepy. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
