@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";

    var user = ViewBag.user;


    var totalUser = ViewBag.TotalUser;
    var totalProdct = ViewBag.totalProduct;
    var totalProductThisMonth = ViewBag.totalProductThisMonth;
    var totalEarningThisMonth = ViewBag.totalEarningThisMonth;
    var listProduct = ViewBag.listProduct;
}






<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="rowEarnings By Items>
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">overview</h2>
                    <a class="au-btn au-btn-icon au-btn--blue" asp-area="Admin" asp-controller="Home" asp-action="AddItem">
                            <i class="zmdi zmdi-plus"></i>add item
                    </a>
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                            <div class="text">
                                <h2>@totalUser</h2>
                                <span>members</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                            <div class="text">
                                <h2>@totalProdct</h2>
                                <span>items solid</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                            <div class="text">
                                <h2>@totalProductThisMonth</h2>
                                <span>sold this month</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart3"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-money"></i>
                            </div>
                            <div class="text">
                                <h2>$@totalEarningThisMonth</h2>
                                <span>total earnings</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart4"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">Recent Reports</h3>
                        <div class="recent-report__chart">
                            <canvas id="mixed-chart" width="400" height="350"></canvas>
                            <script>
                                new Chart(document.getElementById("mixed-chart"), {
                                    type: 'bar',
                                    data: {
                                        labels: ["January", "Ferbuary", "Match", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                                        datasets: [{
                                            label: "Phone",
                                            type: "line",
                                            borderColor: "#8e5ea2",
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MixDataPhone)),
                                            fill: false
                                        }, {
                                            label: "Others",
                                            type: "line",
                                            borderColor: "#3e95cd",
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MixDataOthers)),
                                            fill: false
                                        }, {
                                            label: "Phone",
                                            type: "bar",
                                            backgroundColor: "rgba(0,0,0,0.2)",
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MixDataPhone)),
                                        }, {
                                            label: "Others",
                                            type: "bar",
                                            backgroundColor: "rgba(0,0,0,0.2)",
                                            backgroundColorHover: "#3e95cd",
                                            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MixDataOthers)),
                                        }
                                        ]
                                    },
                                    options: {
                                        title: {
                                            display: true,
                                            text: 'Sales Growth: Phone vs Others'
                                        },
                                        legend: { display: false }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="au-card chart-percent-card">
                    <div class="au-card-inner">
                        <h3 class="title-2 tm-b-5">Order's State</h3>
                        <div class="percent-chart">
                            <canvas id="doughnut-chart" width="400" height="350"></canvas>
                            <script>
                                 new Chart(document.getElementById("doughnut-chart"), {
                                       type: 'doughnut',
                                           data: {
                                                labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.StatusLabel)),
                                                datasets: [
                                                    {
                                                        label: "Population (millions)",
                                                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                                        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ProductStatus))
                                                    }
                                                ]
                                           },
                                            options: {
                                                title: {
                                                    display: true,
                                                    text: "Product's Status"
                                                }
                                            }
                                        });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">Product table</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <form method="post" asp-area="Admin" asp-controller="Home" asp-action="FilterProduct">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="productFilter">
                                    <option selected="selected">All Properties</option>
                                    <option value="Phone">Smartphone</option>
                                    <option value="Tablet">Tablet</option>
                                    <option value="Headphone">Headphone</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters
                            </button>
                        </form>
                    </div>
                    <div class="table-data__tool-right">
                        <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-area="Admin" asp-controller="Home" asp-action="AddItem">
                            <i class="zmdi zmdi-plus"></i>add item
                        </a>
                    </div>
                </div>
                <div class="table-responsive m-b-40">
                    <div style="height:600px;overflow-y:scroll; overflow-x:scroll">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>id</th>
                                    <th>Product Name</th>
                                    <th>Color</th>
                                    <th>Price</th>
                                    <th>Quatity</th>
                                    <th>Avail</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listProduct)
                                {
                                    <tr class="tr-shadow">
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>@item.id</td>
                                        <td>@item.tensanpham</td>
                                        <td>
                                            <span class="desc">@item.mausac</span>
                                        </td>
                                        <td>@item.gia</td>

                                        <td>@item.soluong </td>
                                        <td>
                                            <span class="status--process">@item.cosan</span>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <!-- Lay id san pham gui ve controller-->
                                                @{
                                                    var routeData = new Dictionary<string, string>();
                                                    routeData["id"] = item.id + "";


                                                }

                                                <a class="item" data-toggle="tooltip" data-placement="top" title="Edit" asp-area="Admin" asp-controller="Table" asp-action="DisplayEditItem" asp-all-route-data="@routeData">

                                                    <i class="zmdi zmdi-edit"></i>

                                                </a>
                                                <a class="item" data-toggle="tooltip" data-placement="top" title="Delete" asp-area="Admin" asp-controller="Table" asp-action="DeleteItem" asp-all-route-data="@routeData">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>

                                                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-more"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2020 Creepy. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>